.eager-formspree {
  box-sizing: border-box !important;
  width: 18em !important;
  max-width: 100% !important;
  margin: auto !important;
  font-size: 1em !important;
  padding: 1em !important;
  background-color: #eee !important;
  border-radius: .25em !important;
}

.eager-formspree * {
  box-sizing: inherit !important;
  text-rendering: optimizeLegibility !important;
}
.eager-formspree p {
  color: rgba(0, 0, 0, .7) !important;
  text-align: center !important;
  line-height: 1.3em !important;
  font-family: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

.eager-formspree ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .25) !important;
  font-family: inherit !important;
  font-size: 1em !important;
  line-height: initial !important;
}

.eager-formspree :-moz-placeholder {
  color: rgba(0, 0, 0, .25) !important;
  font-family: inherit !important;
  font-size: 1em !important;
  line-height: initial !important;
}

.eager-formspree ::-moz-placeholder {
  color: rgba(0, 0, 0, .25) !important;
  font-family: inherit !important;
  font-size: 1em !important;
  line-height: initial !important;
}

.eager-formspree :-ms-input-placeholder {
  color: rgba(0, 0, 0, .25) !important;
  font-family: inherit !important;
  font-size: 1em !important;
  line-height: initial !important;
}

.eager-formspree input, .eager-formspree textarea {
  outline: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-tap-highlight-color: transparent !important;
  border: 0 !important;
  border-radius: .125em !important;
  font-size: inherit !important;
  font-family: inherit !important;
  box-shadow: 0 0 0 .0625em rgba(0, 0, 0, .25), 0 -.0625em rgba(0, 0, 0, .3) !important;
  margin-left: .0625em !important;
  margin-right: .0625em !important;
  width: 100% !important;
  width: calc(100% - .125em) !important;
  padding: .6em .8em;
  background: #fff !important;
  height: auto !important;
  line-height: initial !important;
  margin-bottom: .5em !important;
  color: rgba(0, 0, 0, .7);
}

.eager-formspree textarea {
  resize: none !important;
  line-height: initial !important;
}

.eager-formspree button {
  outline: none !important;
  display: block !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background: #808080 !important;
  color: #fff !important;
  cursor: pointer !important;
  border: 0 !important;
  margin: 0 !important;
  font-size: inherit !important;
  text-align: center !important;
  font-family: inherit !important;
  position: relative;
  width: 100% !important;
  color: #fff !important;
  padding: .9em !important;
  border-radius: .1875em !important;
  font-weight: bold !important;
  cursor: pointer !important
}

.eager-formspree button[disabled] {
  cursor: not-allowed
}

.eager-formspree button:not([disabled]):hover {
  opacity: .9
}

.eager-formspree button:not([disabled]):hover:active {
  opacity: .7
}

.eager-formspree button:not([disabled]):focus:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: .1em;
  box-shadow: inset 0 0 0 .0625em #fff;
  pointer-events: none;
  transition: opacity .3s ease-in-out
}

.eager-formspree button:not([disabled]):focus:active:before {
  opacity: 0
}
